@model IEnumerable<PowerView.Domain.Controller>

@{
    ViewBag.Title = "Monitoreo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var controller in Model)
{
    foreach (var metric in controller.Metrics)
    {
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @controller.Description - @metric.Description
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div id="chart_container">
                            <div id="@metric.MetricId"></div>

                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

    }
}


@section scripts
{
    <script src="@Url.Content("~/Scripts/powerView.widgets.streamChart.js")"></script>
    @foreach (var controller in Model)
    {
        foreach (var metric in controller.Metrics)
        {
            
            <script>
                //alert('@metric.Name');
                $(function () {
                    $("#@metric.MetricId").streamChart({ controllerID:'@controller.Name', metricName:'@metric.Name'});
                });

            </script>
        }
    }

}
