@model IEnumerable<PowerView.Domain.Metric>

@{
    ViewBag.Title = "Administración de métricas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="base">
    <tr>
        <th width="25%">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th width="50%">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th width="5%">
            @Html.DisplayNameFor(model => model.UnitMeasurementId)
        </th>
        <th>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Name)
            </td>
            <td>
                @Html.DisplayFor(model => item.Description)
            </td>
            <td>
                @Html.DisplayFor(model => item.UnitMeasurement.Simbol)
            </td>
            <td>
                @Html.ActionLink("Modificar", "Edit", new { id = item.MetricId }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.MetricId }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.MetricId })
            </td>
        </tr>
    }

</table>
<br />
<br />
<br />
<div id="pie-container">
    <table>
        <tr>
            <td>
                <input type="button" class="btn btn-danger" value="Nuevo" onclick="location.href='@Url.Action("Create", "MetricAdmin")'">
            </td>
        </tr>
    </table>
</div>
